<template name="signup">

	<div class="signup-container">
		<div class="signup-title">
			Hello there!
		</div>
		<div class="signup-input">
			<div class="signup-input-top-row">
				<div class="signup-input-firstname">
					<input class="signup-firstname" type="text" placeholder="First name"/>
				</div>
				<div class="signup-input-lastname">
					<input class="signup-lastname" type="text" placeholder="Last name"/>
				</div>
			</div>
			<input class="signup-email" type="text" placeholder="Email"/>

			<div class="signup-terms">
				<input type="checkbox"/>
					I have read and I agree to the terms of service and customer agreement
			</div>

			<div class="signup-btn">
				SIGN UP
			</div>

		</div>
			
	</div>
	
</template>
