

<template name="item">
	{{> createItem}}

	{{> itemList}}
</template>


<template name="createItem">
	<div class="create-container">
	
		<div class="create-input">
			Name
			<input class="create-name" type="text" placeholder="Name"/>
		</div>
		<div class="create-input">
			Description
			<input class="create-description" type="text" placeholder="Description"/>
		</div>
		<div class="create-input">
			Location
			<input class="create-location" type="text" placeholder="Location"/>
		</div>

		<div class="create-btn">
			Create
		</div>
	</div>
</template>


<template name="itemList">
start of list
	{{#each getAllLocation}}
	hi
		{{name}}
	{{/each}}
</template>